<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geyl.dao.ScanRecordMapper">
    <resultMap id="BaseResultMap" type="com.geyl.bean.model.ScanRecord">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="openid" jdbcType="VARCHAR" property="openid"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="goods_id" jdbcType="INTEGER" property="goodsId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, openid, user_id, goods_id, create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from scan_record
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from scan_record
    where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.geyl.bean.model.ScanRecord">
    insert into scan_record (id, openid, user_id, 
      goods_id, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{openid,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{goodsId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
    </insert>
    <insert id="insertSelective" parameterType="com.geyl.bean.model.ScanRecord">
        insert into scan_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="openid != null">
                openid,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="openid != null">
                #{openid,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="goodsId != null">
                #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.geyl.bean.model.ScanRecord">
        update scan_record
        <set>
            <if test="openid != null">
                openid = #{openid,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="goodsId != null">
                goods_id = #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.geyl.bean.model.ScanRecord">
    update scan_record
    set openid = #{openid,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="getRecordByUserId" resultType="com.geyl.bean.model.ScanRecord">
        select
        <include refid="Base_Column_List"/>
        from scan_record
        where user_id = #{userId}
    </select>
    <select id="getActivityUser" resultType="com.geyl.vo.ScanUserVO">
        select
          cu.nick_name nickName,
          cu.avatar
        from scan_record sr
        left join client_user cu on sr.user_id = cu.user_id
        where sr.goods_id = #{goodsId}
        order by sr.create_time desc
        limit 14
    </select>
    <select id="getStoreUserList" resultType="com.geyl.vo.StoreUserVO">
        select
         cu.user_id userId,
         cu.phone,
         cu.status,
         cu.goods_id goodsId,
         cu.user_name userName,
         cu.nick_name nickName,
         cu.avatar
        from client_user cu
        left join scan_record sr
        on sr.user_id = cu.user_id
        where sr.goods_id = #{goodsId}
        <if test="phone!=null and phone !=''"> and cu.phone = #{phone}</if>
        <if test="nickName!=null and nickName!=''"> and cu.nick_name like concat("%",#{nickName},"%")</if>
        group by cu.user_id
    </select>
</mapper>