<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geyl.dao.StoreInfoMapper">
    <resultMap id="BaseResultMap" type="com.geyl.bean.model.StoreInfo">
        <id column="store_id" jdbcType="INTEGER" property="storeId"/>
        <result column="store_name" jdbcType="VARCHAR" property="storeName"/>
        <result column="store_image" jdbcType="VARCHAR" property="storeImage"/>
        <result column="store_address" jdbcType="VARCHAR" property="storeAddress"/>
        <result column="store_phone" jdbcType="VARCHAR" property="storePhone"/>
        <result column="link_name" jdbcType="VARCHAR" property="linkName"/>
        <result column="status" jdbcType="BIT" property="status"/>
        <result column="store_code" jdbcType="VARCHAR" property="storeCode"/>
        <result column="remark_1" jdbcType="VARCHAR" property="remark1"/>
        <result column="remark_2" jdbcType="VARCHAR" property="remark2"/>
        <result column="remark_3" jdbcType="VARCHAR" property="remark3"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
    </resultMap>
    <sql id="Base_Column_List">
    store_id, store_name, store_image, store_address, store_phone, link_name, status, 
    store_code, remark_1, remark_2, remark_3, create_time, create_by, update_time, update_by
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from store_info
        where store_id = #{storeId}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from store_info
    where store_id = #{storeId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.geyl.bean.model.StoreInfo">
    insert into store_info (store_id, store_name, store_image, 
      store_address, store_phone, link_name, 
      status, store_code, remark_1, 
      remark_2, remark_3, create_time, 
      create_by, update_time, update_by
      )
    values (#{storeId,jdbcType=INTEGER}, #{storeName,jdbcType=VARCHAR}, #{storeImage,jdbcType=VARCHAR}, 
      #{storeAddress,jdbcType=VARCHAR}, #{storePhone,jdbcType=VARCHAR}, #{linkName,jdbcType=VARCHAR}, 
      #{status,jdbcType=BIT}, #{storeCode,jdbcType=VARCHAR}, #{remark1,jdbcType=VARCHAR}, 
      #{remark2,jdbcType=VARCHAR}, #{remark3,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.geyl.bean.model.StoreInfo">
        insert into store_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storeId != null">
                store_id,
            </if>
            <if test="storeName != null">
                store_name,
            </if>
            <if test="storeImage != null">
                store_image,
            </if>
            <if test="storeAddress != null">
                store_address,
            </if>
            <if test="storePhone != null">
                store_phone,
            </if>
            <if test="linkName != null">
                link_name,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="storeCode != null">
                store_code,
            </if>
            <if test="remark1 != null">
                remark_1,
            </if>
            <if test="remark2 != null">
                remark_2,
            </if>
            <if test="remark3 != null">
                remark_3,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateBy != null">
                update_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="storeId != null">
                #{storeId,jdbcType=INTEGER},
            </if>
            <if test="storeName != null">
                #{storeName,jdbcType=VARCHAR},
            </if>
            <if test="storeImage != null">
                #{storeImage,jdbcType=VARCHAR},
            </if>
            <if test="storeAddress != null">
                #{storeAddress,jdbcType=VARCHAR},
            </if>
            <if test="storePhone != null">
                #{storePhone,jdbcType=VARCHAR},
            </if>
            <if test="linkName != null">
                #{linkName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=BIT},
            </if>
            <if test="storeCode != null">
                #{storeCode,jdbcType=VARCHAR},
            </if>
            <if test="remark1 != null">
                #{remark1,jdbcType=VARCHAR},
            </if>
            <if test="remark2 != null">
                #{remark2,jdbcType=VARCHAR},
            </if>
            <if test="remark3 != null">
                #{remark3,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                #{updateBy,jdbcType=VARCHAR},
            </if>
        </trim>
        <selectKey resultType="Integer" keyProperty="storeId" order="AFTER">
            select LAST_INSERT_ID()
        </selectKey>
    </insert>
    <insert id="addStore">
        insert into store_cooperte (user_name, phone, create_time)
         values (#{userName},#{phone},#{createTime})
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.geyl.bean.model.StoreInfo">
        update store_info
        <set>
            <if test="storeName != null">
                store_name = #{storeName,jdbcType=VARCHAR},
            </if>
            <if test="storeImage != null">
                store_image = #{storeImage,jdbcType=VARCHAR},
            </if>
            <if test="storeAddress != null">
                store_address = #{storeAddress,jdbcType=VARCHAR},
            </if>
            <if test="storePhone != null">
                store_phone = #{storePhone,jdbcType=VARCHAR},
            </if>
            <if test="linkName != null">
                link_name = #{linkName,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=BIT},
            </if>
            <if test="storeCode != null">
                store_code = #{storeCode,jdbcType=VARCHAR},
            </if>
            <if test="remark1 != null">
                remark_1 = #{remark1,jdbcType=VARCHAR},
            </if>
            <if test="remark2 != null">
                remark_2 = #{remark2,jdbcType=VARCHAR},
            </if>
            <if test="remark3 != null">
                remark_3 = #{remark3,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
        </set>
        where store_id = #{storeId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.geyl.bean.model.StoreInfo">
    update store_info
    set store_name = #{storeName,jdbcType=VARCHAR},
      store_image = #{storeImage,jdbcType=VARCHAR},
      store_address = #{storeAddress,jdbcType=VARCHAR},
      store_phone = #{storePhone,jdbcType=VARCHAR},
      link_name = #{linkName,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      store_code = #{storeCode,jdbcType=VARCHAR},
      remark_1 = #{remark1,jdbcType=VARCHAR},
      remark_2 = #{remark2,jdbcType=VARCHAR},
      remark_3 = #{remark3,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where store_id = #{storeId,jdbcType=INTEGER}
  </update>

    <select id="getcoopertePageList" resultType="com.geyl.bean.model.StoreCooperate">
        select
        id,
        phone,
        user_name userName,
        create_time createTime
        from store_cooperte
    </select>
</mapper>